# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environments
venv/
env/
ENV/
.env

# MacOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Ignore raw data (too large)
data/*.xlsx
data/*.csv
